<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>Lynx - Movimentação de Caixa</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>

   
  </head>

  <body class="bg-light">
	     		
    <main role="main" class="container">


<!-- INICIO DO FORMULARIO EXIBIR DADOS -->  
     <form th:object="${mov}" th:action="@{/movimento/fechamov}" method="POST">
     
<!-- EXIBIR ERROS -->
     					<div class="form-group row" th:if="${#fields.hasAnyErrors()}">
						<div class="col-md-4">
							<div class="alert alert-danger">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div>
					</div>
     
        <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h1 class="border-bottom border-gray pb-2 mb-0" style="text-align:center">
          FECHAMENTO DE CAIXA
          
          <a class="btn btn-sm btm-danger" th:href="@{/movimento/list}">Voltar</a>
        </h1>
        <div class="media text-muted pt-2">
          <div class="col-sm-6">
              <div class="container border ">
                  <div class="col-sm ">
                    <div class="row">
                      <div class="col-sm" style="font-size: larger;">
                        <span>DATA:</span>
                      </div>
                      <div class="col-sm" style="padding: 5px;">
                        <input type="text" class="form-control form-control-sm" 
                  					th:field="*{dateMov}"
                  					name="dateMov"
  									readonly="true"
  									
  									/>
                      </div>
                    </div>

                  </div>
                  <div class="col-sm">
                    <div class="row">
                      <div class="col-sm" style="font-size: larger;">
                        <span>OPERADOR:</span>
                      </div>
                      <div class="col-sm">
                        <input type="text" class="form-control form-control-sm" 
                  					th:field="*{operator}"
                 					name="operator"
  									readonly="true"/>
                      </div>
                    </div>
                  </div>
                  
                   <div class="col-sm">
                    <div class="row">
                      <div class="col-sm" style="font-size: larger;">
                        <span>V. INICIAL:</span>
                      </div>
                      <div class="col-sm" style="padding: 5px;">
                        <input type="text" class="form-control form-control-sm" 
                  					th:field="*{initialValue}"
                  					name="initialValue"
  									placeholder="Valor Inicial"
  									readonly="true"	/>
                      </div>
                    </div>
                  </div>
				</form>
              </div> 
            </div>

          </div>
          <br>

      </div>
              </div> 
            </div>

          </div>

        </div>
      </div>

      
      <h3 class="border-bottom border-gray pb-2 mb-0" style="text-align: left; padding: 5px;">
	          Saldo Final:
	        </h3>
          <div class="container border border-dark rounded">
          <!-- <form class="form-inline" th:action="@{save}" method="POST"> -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">CÉDULAS</th>
                  <th scope="col">QTIDADE</th>
                  <th scope="col">MOEDAS</th>
                  <th scope="col">QTIDADE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">R$ 2,00</th>
                  <td>
                  <input type="text" id="dois" 
                  class="form-control form-control-sm" 
                  style="width: 60px;" 
                  tabindex="6"
                  th:field="*{receiptCoins.coinFivecents}"
                  name="receiptCoins.coinFivecents"
                  placeholder="0"/>
                  </td>
                  <th scope="row">R$ 0,05</th>
                  <td><input type="text" id="cincocent" class="form-control form-control-sm" style="width: 60px;" tabindex="1"/></td>
                </tr>
                <tr>
                  <th scope="row">R$ 5,00</th>
                  <td><input type="text" id="cinco" class="form-control form-control-sm" style="width: 60px;" tabindex="7"/></td>
                  <th scope="row">R$ 0,10</th>
                  <td><input type="text" id="dezcocent" class="form-control form-control-sm" style="width: 60px;" tabindex="2"/></td>
                </tr>
                <tr>
                  <th scope="row">R$ 10,00</th>
                  <td><input type="text" id="dez" class="form-control form-control-sm" style="width: 60px;" tabindex="8"/></td>
                  <th scope="row">R$ 0,25</th>
                  <td><input type="text" id="vinte5cent" class="form-control form-control-sm" style="width: 60px;" tabindex="3"/></td>
                </tr>
                <tr>
                  <th scope="row">R$ 20,00</th>
                  <td><input type="text" id="vinte" class="form-control form-control-sm" style="width: 60px;" tabindex="9"/></td>
                  <th scope="row">R$ 0,50</th>
                  <td><input type="text" id="cinquentacent" class="form-control form-control-sm" style="width: 60px;" tabindex="4"/></td>
                </tr>
                <tr>
                  <th scope="row">R$ 50,00</th>
                  <td><input type="text" id="cinquenta" class="form-control form-control-sm" style="width: 60px;" tabindex="10"/></td>
                  <th scope="row">R$ 1,00</th>
                  <td><input type="text" id="um" class="form-control form-control-sm" style="width: 60px;" tabindex="5"/></td>
                </tr>
                <tr>
                  <th scope="row">R$ 100,00</th>
                  <td><input type="text" id="cem" class="form-control form-control-sm" style="width: 60px;" tabindex="11"/></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">R$ 200,00</th>
                  <td><input type="text" id="duzentos" class="form-control form-control-sm" style="width: 60px;" tabindex="12"/></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
 
       
          </div>
			

			
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h3 class="border-bottom border-gray pb-2 mb-0">Pagamentos/Recebimentos</h3>

        <small class="d-block text-right mt-3">
          <a href="#">Link</a>
        </small>

        <div class="container border border-dark rounded">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="col-6">HISTÓRICO</th>
                <th scope="col" class="col col-lg-2" >VALOR</th>
                <th scope="col" class="col col-lg-2">OPERAÇÃO</th>
              </tr>
            </thead>
            <tbody>
              <tr>

                <td class="col-6">PAGAMENTO FORNECEDOR</td>
                <td class="col col-lg-2">R$ 600,00</td>
                <th class="col col-lg-2">
				      
				      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
				        <option selected></option>
				        <option value="1">CRÉDITO</option>
				        <option value="2">DÉBITO</option>
				      </select>

                </th>
 
              </tr>
              
              </tr>
            </tbody>
            </tbody>
          </table>
          
        </div>
        <br>
        <textarea class="form-control" placeholder="OBSERVAÇÕES"></textarea>
      </div>
      
      <div class="my-3 p-3 bg-white rounded shadow-sm">
  
 			<button class="btn btn-sm btn-primary" type="submit">Salvar Dados</button>
 
      </div>
    </form>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
