<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>Lynx - Movimentação de Caixa</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/js/script.js"></script>

   
  </head>

  <body class="bg-light">
	     		
    <main role="main" class="container">


<!-- INICIO DO FORMULARIO preencher dados -->  
     <form th:object="${recebCash}" th:action="@{/movimento/fechament/{id}}" method="POST">
     
<!-- EXIBIR ERROS -->
     					<div class="form-group row" th:if="${#fields.hasAnyErrors()}">
						<div class="col-md-4">
							<div class="alert alert-danger">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div>
					</div>


      
      <h3 class="border-bottom border-gray pb-2 mb-0" style="text-align: left; padding: 5px;">
	          Saldo Final:
	        </h3>
          <div class="container border border-dark rounded">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">CÉDULAS</th>
                  <th scope="col">QTIDADE</th>
                  <th scope="col">MOEDAS</th>
                  <th scope="col">QTIDADE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">R$ 2,00</th>
                  <td>
                  <input type="text" class="form-control form-control-sm" style="width: 60px;"  th:field="*{ballotTwo}" id="ballotTwo" tabindex="6" onblur="calcular()" onfocus="this.value=''"/>
                  </td>
                  <th scope="row">R$ 0,05</th>
                  <td>
                  <input type="text" class="form-control form-control-sm" style="width: 60px;"  th:field="*{coinFivecents}" id="coinFivecents" tabindex="1" onblur="calcular()" onfocus="this.value=''"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">R$ 5,00</th>
                  <td>
                  <input type="text" class="form-control form-control-sm" style="width: 60px;"  th:field="*{ballotFive}" id="ballotFive" tabindex="7" onblur="calcular()" onfocus="this.value=''"/>
                  </td>
                  <th scope="row">R$ 0,10</th>
                  <td>
                  <input type="text" class="form-control form-control-sm" style="width: 60px;"  th:field="*{coinTencents}" id="coinTencents" tabindex="2" onblur="calcular()" onfocus="this.value=''"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">R$ 10,00</th>
                  <td>
                  	<input type="text" class="form-control form-control-sm" style="width: 60px;"  th:field="*{ballotTen}" id="ballotTen" tabindex="8" onblur="calcular()" onfocus="this.value=''"/>
                  </td>
                  <th scope="row">R$ 0,25</th>
                  <td>
                  	<input type="text" class="form-control form-control-sm" style="width: 60px;"  th:field="*{coinTwentyfivecents}" id="coinTwentyfivecents" tabindex="3" onblur="calcular()" onfocus="this.value=''"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">R$ 20,00</th>
                  <td>
                  <input type="text" class="form-control form-control-sm" style="width: 60px;"  th:field="*{ballotTwenty}" id="ballotTwenty" tabindex="9" onblur="calcular()" onfocus="this.value=''"/>
					</td>
                  <th scope="row">R$ 0,50</th>
                  <td>
                  <input type="text" class="form-control form-control-sm" style="width: 60px;"  th:field="*{coinFifitycents}" id="coinFifitycents" tabindex="4" onblur="calcular()" onfocus="this.value=''"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">R$ 50,00</th>
                  <td>
                  	<input type="text" class="form-control form-control-sm" style="width: 60px;"  th:field="*{ballotFifity}" id="ballotFifity" tabindex="10" onblur="calcular()" onfocus="this.value=''"/>
                  </td>
                  <th scope="row">R$ 1,00</th>
                  <td>
                  	<input type="text" class="form-control form-control-sm" style="width: 60px;"  th:field="*{coinOne}" id="coinOne" tabindex="5" onblur="calcular()" onfocus="this.value=''"/>
                  </td>
                </tr>
                <tr>
                  <th scope="row">R$ 100,00</th>
                  <td>
                  	<input type="text" class="form-control form-control-sm" style="width: 60px;" th:field="*{ballotOnehundred}" id="ballotOnehundred" tabindex="11" onblur="calcular()" onfocus="this.value=''"/>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">R$ 200,00</th>
                  <td>
                  	<input type="text" class="form-control form-control-sm" style="width: 60px;"  th:field="*{ballotTwohundred}" id="ballotTwohundred" tabindex="12" onblur="calcular()" onfocus="this.value=''"/>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

          </div>

      
      <div class="my-3 p-3 bg-white rounded shadow-sm">
  
      	<div class="container">
		  <div class="row">
		    <div class="col-sm">
		            	<div class="container">
		  <div class="row">
		    <div class="col-sm mt-2" style=" text-align: right;">
		      <p class="text-dark">TOTAL CÉDULAS:</p>
		    </div>
		    <div class="col-sm" style=" text-align: left;">

		      <input type="text" class="form-control " style="width: 60px; min-width:150px;"  id="totalBallots2" readonly=TRUE></input>
		      

		    </div>
		  </div>
		</div>
		    </div>
		    <div class="col-sm">
		            	<div class="container">
		  <div class="row">
		    <div class="col-sm mt-2" style=" text-align: right">
		      <p class="text-dark">TOTAL MOEDAS:</p>
		    </div>
		    <div class="col-sm" style=" text-align: left;">

		      <input type="text" class="form-control " style="width: 60px; min-width:150px;"  id="totalCoins2" readonly=TRUE/>

		    </div>
		  </div>
		</div>
		    </div>
		    		    <div class="col-sm">
		            	<div class="container">
		  <div class="row">
		    <div class="col-sm mt-2" style=" text-align: right">
		      <p class="text-dark">TOTAL FINAL:</p>
		    </div>
		    <div class="col-sm" style=" text-align: left;">

		      <input type="text" class="form-control " style="width: 60px; min-width:150px;"   id="totalFinal" readonly=TRUE/>

		    </div>
		  </div>
		</div>
		    </div>
		  </div>
		</div>
 
      </div>

      
      <div class="my-3 p-3 bg-white rounded shadow-sm">
  
 			<button class="btn btn-sm btn-primary" type="submit">Salvar Dados</button>
 			<a class="btn btn-sm btm-danger" th:href="@{/movimento/list}">Voltar</a>
 			<input type="hidden"   th:field="*{totalBallots}" id="totalBallots" ></input>
 			<input type="hidden" th:field="*{totalCoins}" id="totalCoins" ></input>
 
      </div>
    </form>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
